{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="min-h-screen bg-[#233430] text-white font-['Ovo']">
    <div class="container mx-auto px-16 py-12">
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-white rounded-lg p-8 flex items-center justify-center h-[400px]">
                <span class="text-gray-600">VIDEO DEMO</span>
            </div>
            <div class="flex flex-col text-center justify-center">
                <h1 class="text-4xl mb-6">Installer. Analyser. Économiser.</h1>
                <p class="text-xl mb-6 px-28 font-['Outfit']">Réduire l'impact de votre site, c'est aussi réduire son empreinte sur la planète. Utilisez GreenScore Web !</p>
                
                <a href="#" class="inline-flex items-center bg-white text-[#233430] font-['Outfit'] px-4 py-2 rounded-full mx-auto">
                    <img src="{{ asset('/images/firefox.png') }}" alt="Firefox" class="mr-2 h-6 w-6">
                    Ajouter à Firefox
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white text-[#233430] py-16">
        <div class="container mx-auto px-4 text-center h-[400px]">
            <h2 class="text-6xl font-bold mb-12 relative px-96">
                Des chiffres qui parlent d'eux-mêmes!
                <div class="absolute left-1/2 transform -translate-x-1/2 -bottom-2 w-16 h-1 bg-[#233430]"></div>
            </h2>

            <div class="grid md:grid-cols-3 gap-8 mb-12">
                <div>
                    <h3 class="text-5xl font-bold text-[#233430] mb-4">5.5 milliards</h3>
                    <p>d'utilisateurs d'internet en 2025</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-[#233430] mb-4">34 milliards</h3>
                    <p>d'équipements informatiques en 2019</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-[#233430] mb-4">47%</h3>
                    <p>C'est le pourcentage du poids des images sur un site web</p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-8">
                <div>
                    <h3 class="text-5xl font-bold text-[#233430] mb-4">300 K</h3>
                    <p>tonnes de CO2 générées par le format vidéo à lui seul</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-[#233430] mb-4">15%</h3>
                    <p>de réduction possible des émissions CO2 en appliquant les bonnes pratiques de conception</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}