{% extends 'base.html.twig' %}

{% block title %}GreenScore Web - Accueil{% endblock %}

{% block body %}
    <div class="w-full h-[calc(100vh-15.5rem)] flex items-center justify-center font-outfit">
        <p class="text-2xl text-gray-600 font-medium">Page d'accueil en construction</p>
    </div>
{% endblock %}