<!-- Modal pour quitter l'organisation -->
<div data-my-account-target="modalLeaveOrga" class="fixed inset-0 flex items-center justify-center hidden">
    <div class="bg-black bg-opacity-50 absolute inset-0"></div>
    <div class="relative z-10 bg-white rounded-lg p-2.5 w-full max-w-[344px]">
        <p class="text-base font-semibold">
            Êtes-vous sûr de vouloir quitter l'organisation "{{ organisation.organisationName }}" ?
        </p>
        <div class="flex gap-2.5 mt-2">
            <button data-action="click->my-account#closeModal"
                    data-my-account-modal-param="modalLeaveOrga"
                    class="w-full bg-red-900 font-semibold font-outfit text-white px-4 py-2 rounded-md">
                Annuler
            </button>
            <a class="items-center w-full bg-gs-green-950 font-semibold font-outfit text-white px-4 py-2 rounded-md"
               href="{{ path('app_remove_organisation') }}"
            >
                Oui quitter
            </a>
        </div>
    </div>
</div>
<!-- Modal pour changer d'organisation -->
<div data-my-account-target="modalChangeOrga" class="hidden fixed inset-0 w-full h-full flex items-center justify-center">
    <!-- Overlay -->
    <div class="fixed inset-0 w-full h-full bg-black bg-opacity-50"></div>

    <!-- Modal -->
    <div class="relative z-50 bg-white rounded-lg p-2.5 w-full max-w-[344px]">
        <p class="text-base font-semibold">
            Veuillez entrer le code qui vous a été envoyé par l'administrateur de votre organisation
        </p>
        <form
                action="{{ path('app_change_or_join_organisation') }}"
                method="POST"
                class="flex flex-col gap-4 mt-1"
        >
            <div class="flex gap-4 w-full text-grey-700 font-outfit font-semibold text-sm sm:flex-row">
                <div class="w-full">
                    <label for="codeOrganisation" class="block font-bold">Code Organisation</label>
                    <input
                            type="text"
                            id="codeOrganisation"
                            name="codeOrganisation"
                            class="px-4 py-2 border border-grey-200 rounded-lg text-grey-700 w-full focus:outline-none"
                            data-my-account-target="codeOrganisation"
                    />
                    <p class="text-grey-500 text-sm mt-1" data-my-account-target="helpText">Merci d'entrer le code à 8 caractères envoyé par votre organisation</p>
                    <div class="error-message items-center p-4 mt-2 text-sm text-red-900 rounded-lg bg-red-100 hidden"></div>
                </div>
            </div>
            <div class="flex gap-2.5">
                <button
                        type="button"
                        class="w-full bg-red-900 font-semibold font-outfit text-white px-4 py-2 rounded-md"
                        data-action="click->my-account#closeModal"
                        data-my-account-modal-param="modalChangeOrga"
                >
                    Annuler
                </button>
                <button
                        type="button"
                        class="w-full bg-gs-green-950 font-semibold font-outfit text-white px-4 py-2 rounded-md"
                        data-action="click->my-account#changeOrJoinOrga"
                >
                    Confirmer
                </button>
            </div>
        </form>
    </div>
</div>